.ShowSelectedUls {
    display: flex;
    flex-direction: column;
    color: #252525;
    margin: 1rem;
    border-radius: 15px;
    padding: 2rem;
    background-color: #f9f9f9;
    border-top: 3px solid #FBFF12;
    border-radius: 8px;
    -webkit-box-shadow: 0 10px 50px rgba(0,0,0,0.2);
    box-shadow: 0 10px 50px rgba(0,0,0,0.2);
}

.ShowSelectedUls h1 {
    text-align: center;
    color: #252525;
}

.reset-button {
    align-self: center;
    padding: 0.5rem;
    font: inherit;
    font-size: 1.5rem;
    color: #f9f9f9;
    background-color: #FF00CE;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    width: 150px;
    align-items: baseline;
    margin: 2rem 0;
}

.reset-button i:hover{
    animation: rotate 1s 1;
}

@keyframes rotate {
    100% {transform: rotate(-360deg)}
}