.single-ul{
    height: 200px;
    width: 300px;
    overflow: hidden;
    border: 2px solid #FFE45E;
    background-color: rgba(255, 228, 94, 0.01);
    margin: 1rem;
    border-radius: 15px;
    cursor: pointer;
    padding: 1rem;
    -webkit-box-shadow: inset 0px -50px 35px -9px rgba(0,0,0,0.15); 
    box-shadow: inset 0px -50px 35px -9px rgba(0,0,0,0.15);
}

.selected {
    border-color: #FF6392;
    background-color: rgba(255, 99, 146, 0.1);
}

